input{
    width: 95%;
}
input[type=text]:focus{
    background-color: #da9aa8;
}
form{
    margin:auto;
    padding: 20px;
    background-color: #fad2a0;
}
.1{
display: flex;
align-items: center;
margin-bottom: 10px;

}